
<div class="bgImage">
  
    <div class="container ">
        <div class="content">
        <h1>About Us</h1>
        
    <p ><b>MobileHub Online mobile store</b>
        We are a national chain of online mobile stores dedicated to delivering 
        exceptional value to our customers. Our commitment lies in offering the 
        latest and greatest mobile devices at unbeatable everyday prices. With a
         diverse selection of cutting-edge technology and a team of knowledgeable, 
         friendly experts, we strive to transform your shopping experience into 
         an exciting journey of discovery and innovation since 2022
</p>

<p>
    We deliver a wide range of mobiles.
     Users have to first login into the system to view the mobiles and add them into their cart.
</p>
    </div>

</div>
</div>

   


